<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Name="Salary.NET" Manufacturer="Ringo Leese"
			 Language="1033" Version="0.0.5"
			 Id="E77D04B7-5ECD-4C21-8DCA-254f2E3B207C"
			 UpgradeCode="F501F82F-95BA-4EAC-9E57-4A92258B6AF7">
		<Package Id="*" Keywords="Installer" Description="Salary.NET Installer" Manufacturer="Ringo Leese"
				 InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Upgrade Id="F501F82F-95BA-4EAC-9E57-4A92258B6AF7">
			<UpgradeVersion OnlyDetect="yes" Property="SELFFOUND" Minimum="0.0.5" IncludeMinimum="yes" Maximum="0.0.5" IncludeMaximum="yes" />
			<UpgradeVersion OnlyDetect="yes" Property="NEWERFOUND" Minimum="0.0.5" IncludeMinimum="no" />
		</Upgrade>

		<CustomAction Id='AlreadyUpdated' Error='[ProductName] is already installed.' />
		<CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />
		
		<!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
		<MediaTemplate />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<?if $(sys.BUILDARCH)=x64?>
			<Directory Id="ProgramFiles64Folder" Name="PFiles">
			<?else?>
			<Directory Id="ProgramFilesFolder" Name="PFiles">
			<?endif?>
				<Directory Id="INSTALLFOLDER" Name="Salary.NET">
					<Component Id="MainExecutable" Guid="E77D04B7-5ECD-4C21-8DCA-000000000001">
						<File Id="Salary.NET.exe" Name="Salary.NET.exe" Source="$(var.SalaryForm.TargetDir)Salary.NET.exe" KeyPath="yes">
							<Shortcut Id="startmenuSalaryNET" Directory="ProgramMenuDir" Name="Salary.NET" WorkingDirectory='INSTALLFOLDER' Icon="Salary.NET.exe" IconIndex="0" Advertise="yes" />
							<Shortcut Id="desktopSalaryNET" Directory="DesktopFolder" Name="Salary.NET" WorkingDirectory='INSTALLFOLDER' Icon="Salary.NET.exe" IconIndex="0" Advertise="yes" />
						</File>
						<File Id="SalaryLibrary.dll" Name="SalaryLibrary.dll" Source="$(var.SalaryForm.TargetDir)SalaryLibrary.dll"/>
						<File Id="ObjectListView.dll" Name="ObjectListView.dll" Source="$(var.SalaryForm.TargetDir)ObjectListView.dll"/>
						<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.SalaryForm.TargetDir)Newtonsoft.Json.dll"/>
						<File Id="System.IO.Compression.ZipFile.dll" Name="System.IO.Compression.ZipFile.dll" Source="$(var.SalaryForm.TargetDir)System.IO.Compression.ZipFile.dll"/>
						<File Id="ZedGraph.dll" Name="ZedGraph.dll" Source="$(var.SalaryForm.TargetDir)ZedGraph.dll"/>
					</Component>
					<Directory Id="LanguageDe" Name="de">
						<Component Id="LanguageResourcesDe" Guid="E77D04B7-5ECD-4C21-8DCA-000000000002">
							<File Id="de_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)de\ZedGraph.resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="LanguageEn" Name="en">
						<Component Id="LanguageResourcesEn" Guid="E77D04B7-5ECD-4C21-8DCA-000000000003">
							<File Id="en_Salary.NET.resources.dll" Name="Salary.NET.resources.dll" Source="$(var.SalaryForm.TargetDir)en\Salary.NET.resources.dll" KeyPath="yes" />
						</Component>
					</Directory>
					<Directory Id="LanguageEs" Name="es">
						<Component Id="LanguageResourcesEs" Guid="E77D04B7-5ECD-4C21-8DCA-000000000004">
							<File Id="es_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)es\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageFr" Name="fr">
						<Component Id="LanguageResourcesFr" Guid="E77D04B7-5ECD-4C21-8DCA-000000000005">
							<File Id="fr_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)fr\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageHu" Name="hu">
						<Component Id="LanguageResourcesHu" Guid="E77D04B7-5ECD-4C21-8DCA-000000000006">
							<File Id="hu_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)hu\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageIt" Name="it">
						<Component Id="LanguageResourcesIt" Guid="E77D04B7-5ECD-4C21-8DCA-000000000007">
							<File Id="it_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)it\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageJa" Name="ja">
						<Component Id="LanguageResourcesJa" Guid="E77D04B7-5ECD-4C21-8DCA-000000000008">
							<File Id="ja_Salary.NET.resources.dll" Name="Salary.NET.resources.dll" Source="$(var.SalaryForm.TargetDir)ja\Salary.NET.resources.dll" KeyPath="yes" />
							<File Id="ja_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)ja\ZedGraph.resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="LanguagePt" Name="pt">
						<Component Id="LanguageResourcesPt" Guid="E77D04B7-5ECD-4C21-8DCA-000000000009">
							<File Id="pt_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)pt\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageRu" Name="ru">
						<Component Id="LanguageResourcesRu" Guid="E77D04B7-5ECD-4C21-8DCA-000000000010">
							<File Id="ru_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)ru\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageSk" Name="sk">
						<Component Id="LanguageResourcesSk" Guid="E77D04B7-5ECD-4C21-8DCA-000000000011">
							<File Id="sk_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)sk\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageSv" Name="sv">
						<Component Id="LanguageResourcesSv" Guid="E77D04B7-5ECD-4C21-8DCA-000000000012">
							<File Id="sv_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)sv\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageTr" Name="tr">
						<Component Id="LanguageResourcesTr" Guid="E77D04B7-5ECD-4C21-8DCA-000000000013">
							<File Id="tr_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)tr\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageZhCn" Name="zh-cn">
						<Component Id="LanguageResourcesZhCn" Guid="E77D04B7-5ECD-4C21-8DCA-000000000014">
							<File Id="zh_cn_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)zh-cn\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageZhTw" Name="zh-tw">
						<Component Id="LanguageResourcesZhTw" Guid="E77D04B7-5ECD-4C21-8DCA-000000000015">
							<File Id="zh_tw_ZedGraph.resources.dll" Name="ZedGraph.resources.dll" Source="$(var.SalaryForm.TargetDir)zh-tw\ZedGraph.resources.dll" KeyPath="yes"/>
						</Component>
					</Directory>
				</Directory>
			<?if $(sys.BUILDARCH)=x64?>
			</Directory>
			<?else?>
			</Directory>
			<?endif?>
			
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="Salary.NET">
					<Component Id="ProgramMenuDir">
						<?if $(sys.BUILDARCH)=x64?>
						<Shortcut Id="UninstallProduct" Name="Uninstall Salary.NET" Description="Uninstalls Salary.NET" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
						<?else?>
						<Shortcut Id="UninstallProduct" Name="Uninstall Salary.NET" Description="Uninstalls Salary.NET" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>
						<?endif?>
						<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>

			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<Feature Id="Complete" Title="Salary.NET" Description="The complete package."  Display="hidden" Level="1" ConfigurableDirectory="INSTALLFOLDER">
			<ComponentRef Id="MainExecutable"/>
			<ComponentRef Id="LanguageResourcesDe"/>
			<ComponentRef Id="LanguageResourcesEn"/>
			<ComponentRef Id="LanguageResourcesEs"/>
			<ComponentRef Id="LanguageResourcesFr"/>
			<ComponentRef Id="LanguageResourcesHu"/>
			<ComponentRef Id="LanguageResourcesIt"/>
			<ComponentRef Id="LanguageResourcesJa"/>
			<ComponentRef Id="LanguageResourcesPt"/>
			<ComponentRef Id="LanguageResourcesRu"/>
			<ComponentRef Id="LanguageResourcesSk"/>
			<ComponentRef Id="LanguageResourcesSv"/>
			<ComponentRef Id="LanguageResourcesTr"/>
			<ComponentRef Id="LanguageResourcesZhCn"/>
			<ComponentRef Id="LanguageResourcesZhTw"/>
			<ComponentRef Id="ProgramMenuDir"/>
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
		
		<?if $(sys.BUILDARCH)=x64?>
		<Property Id="WIXUI_INSTALLDIR" Value="ProgramFiles64Folder" />
		<?else?>
		<Property Id="WIXUI_INSTALLDIR" Value="ProgramFilesFolder" />
		<?endif?>
		
		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<InstallExecuteSequence>
			<Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
			<Custom Action="NoDowngrade" After="FindRelatedProducts">NEWERFOUND</Custom>
		</InstallExecuteSequence>

		<Icon Id="Salary.NET.exe" SourceFile="$(var.SalaryForm.TargetDir)Salary.NET.exe" />
	</Product>
</Wix>
